body,
#__next {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  @media (min-width: 768px) {
    overflow: hidden;
  }
}

#stars {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 155px 592px #fff, 418px 1720px #fff, 1401px 1888px #fff, 844px 1517px #fff, 1711px 1434px #fff,
    1911px 816px #fff, 607px 366px #fff, 1341px 862px #fff, 1025px 622px #fff, 253px 1356px #fff, 1320px 568px #fff,
    1258px 105px #fff, 1831px 1381px #fff, 576px 312px #fff, 35px 477px #fff, 1321px 1265px #fff, 572px 718px #fff,
    317px 454px #fff, 761px 1331px #fff, 1155px 904px #fff, 1933px 479px #fff, 1022px 663px #fff, 1009px 17px #fff,
    1577px 909px #fff, 1839px 1402px #fff, 508px 1296px #fff, 331px 1516px #fff, 1980px 1982px #fff, 598px 988px #fff,
    297px 394px #fff, 500px 42px #fff, 1063px 1429px #fff, 1781px 1268px #fff, 1172px 1048px #fff, 1701px 211px #fff,
    311px 271px #fff, 1913px 608px #fff, 1560px 1472px #fff, 1456px 754px #fff, 1192px 65px #fff, 1186px 1608px #fff,
    640px 1969px #fff, 131px 1727px #fff, 144px 441px #fff, 1850px 190px #fff, 1493px 793px #fff, 240px 1624px #fff,
    169px 337px #fff, 841px 1400px #fff, 1508px 1374px #fff, 955px 855px #fff, 1609px 1854px #fff, 1231px 1043px #fff,
    290px 973px #fff, 1296px 59px #fff, 1735px 603px #fff, 1134px 1710px #fff, 1044px 342px #fff, 1011px 424px #fff,
    846px 1849px #fff, 880px 849px #fff, 316px 379px #fff, 321px 172px #fff, 964px 1876px #fff, 466px 18px #fff,
    1636px 1495px #fff, 1910px 1105px #fff, 1263px 820px #fff, 1292px 1431px #fff, 1798px 1318px #fff, 610px 244px #fff,
    385px 342px #fff, 1079px 1620px #fff, 1798px 1872px #fff, 1717px 1208px #fff, 33px 59px #fff, 352px 1024px #fff,
    1406px 488px #fff, 997px 1975px #fff, 198px 1333px #fff, 1525px 284px #fff, 1350px 1660px #fff, 786px 592px #fff,
    706px 1788px #fff, 599px 327px #fff, 1911px 105px #fff, 1782px 1848px #fff, 454px 2000px #fff, 1281px 1426px #fff,
    1739px 989px #fff, 1963px 504px #fff, 173px 59px #fff, 974px 515px #fff, 588px 1853px #fff, 612px 1225px #fff,
    1642px 1978px #fff, 23px 787px #fff, 442px 1105px #fff, 1335px 696px #fff, 1364px 47px #fff, 1421px 449px #fff,
    1517px 1915px #fff, 1026px 300px #fff, 583px 390px #fff, 1532px 1696px #fff, 1706px 1983px #fff, 1772px 76px #fff,
    1836px 1754px #fff, 95px 1320px #fff, 1231px 1903px #fff, 1149px 1524px #fff, 924px 489px #fff, 1479px 1458px #fff,
    1496px 1758px #fff, 1605px 1830px #fff, 35px 870px #fff, 1602px 814px #fff, 237px 1868px #fff, 1770px 536px #fff,
    155px 1723px #fff, 150px 661px #fff, 512px 1014px #fff, 1053px 1864px #fff, 403px 1758px #fff, 1671px 1362px #fff,
    1245px 422px #fff, 1257px 581px #fff, 739px 84px #fff, 345px 128px #fff, 842px 1505px #fff, 1118px 721px #fff,
    789px 1207px #fff, 1727px 25px #fff, 331px 1549px #fff, 1313px 1468px #fff, 977px 317px #fff, 1067px 790px #fff,
    1883px 870px #fff, 58px 1971px #fff, 759px 1117px #fff, 97px 1202px #fff, 1262px 1414px #fff, 1069px 1772px #fff,
    1429px 1290px #fff, 1764px 1433px #fff, 1338px 722px #fff, 615px 1816px #fff, 1725px 213px #fff, 1298px 805px #fff,
    1137px 18px #fff, 1717px 287px #fff, 1676px 1300px #fff, 389px 307px #fff, 897px 1788px #fff, 1467px 1313px #fff,
    1175px 1495px #fff, 289px 1787px #fff, 538px 1974px #fff, 534px 20px #fff, 893px 375px #fff, 746px 847px #fff,
    175px 1191px #fff, 519px 1074px #fff, 1180px 1964px #fff, 118px 1666px #fff, 1614px 979px #fff, 741px 9px #fff,
    1586px 1106px #fff, 655px 1230px #fff, 978px 260px #fff, 1933px 1528px #fff, 1102px 1015px #fff, 1872px 1497px #fff,
    1554px 1342px #fff, 1449px 463px #fff, 978px 183px #fff, 1503px 1759px #fff, 1423px 1268px #fff, 1100px 1193px #fff,
    1664px 1657px #fff, 446px 1361px #fff, 155px 1986px #fff, 1098px 1366px #fff, 760px 89px #fff, 1569px 583px #fff,
    1904px 272px #fff, 56px 1281px #fff, 1371px 1029px #fff, 658px 541px #fff, 1585px 503px #fff, 969px 1730px #fff,
    431px 1106px #fff, 448px 676px #fff, 1113px 960px #fff, 1981px 986px #fff, 130px 1338px #fff, 1429px 590px #fff,
    1868px 1670px #fff, 1783px 1437px #fff, 1092px 75px #fff, 1430px 250px #fff, 1516px 195px #fff, 142px 1190px #fff,
    272px 1073px #fff, 985px 90px #fff, 757px 694px #fff, 931px 1871px #fff, 633px 1739px #fff, 619px 69px #fff,
    1125px 674px #fff, 1806px 965px #fff, 64px 1483px #fff, 765px 989px #fff, 71px 1768px #fff, 1031px 1944px #fff,
    1188px 452px #fff, 894px 214px #fff, 836px 344px #fff, 726px 445px #fff, 1728px 114px #fff, 468px 865px #fff,
    1544px 715px #fff, 1025px 1992px #fff, 232px 1254px #fff, 171px 1650px #fff, 1940px 1540px #fff, 1251px 745px #fff,
    1810px 164px #fff, 963px 1465px #fff, 1368px 1110px #fff, 1066px 1935px #fff, 594px 383px #fff, 592px 1202px #fff,
    1858px 989px #fff, 1463px 922px #fff, 22px 1279px #fff, 1193px 737px #fff, 1017px 1349px #fff, 152px 1040px #fff,
    163px 1734px #fff, 1975px 637px #fff, 1777px 192px #fff, 480px 1228px #fff, 704px 1362px #fff, 1781px 335px #fff,
    720px 1773px #fff, 1575px 1280px #fff, 314px 89px #fff, 524px 1002px #fff, 1496px 961px #fff, 1612px 332px #fff,
    1048px 1188px #fff, 688px 1342px #fff, 1131px 657px #fff, 1484px 111px #fff, 186px 1291px #fff, 52px 1989px #fff,
    358px 324px #fff, 485px 875px #fff, 338px 956px #fff, 478px 1628px #fff, 146px 300px #fff, 1094px 778px #fff,
    1409px 1263px #fff, 483px 1479px #fff, 1964px 252px #fff, 57px 1055px #fff, 1175px 1589px #fff, 1571px 1144px #fff,
    211px 417px #fff, 90px 1146px #fff, 1757px 159px #fff, 11px 802px #fff, 1709px 213px #fff, 1389px 231px #fff,
    537px 1671px #fff, 170px 1509px #fff, 1931px 812px #fff, 1402px 1644px #fff, 1844px 1785px #fff, 457px 1522px #fff,
    1145px 487px #fff, 470px 789px #fff, 1789px 381px #fff, 427px 1845px #fff, 1670px 1019px #fff, 1431px 807px #fff,
    611px 681px #fff, 1287px 686px #fff, 256px 82px #fff, 1379px 432px #fff, 629px 1403px #fff, 1090px 1515px #fff,
    1829px 1778px #fff, 567px 169px #fff, 1667px 1225px #fff, 1667px 1608px #fff, 1328px 1458px #fff, 851px 303px #fff,
    813px 1367px #fff, 395px 357px #fff, 1240px 348px #fff, 536px 1007px #fff, 1025px 1001px #fff, 1289px 753px #fff,
    182px 207px #fff, 1073px 552px #fff, 1189px 1483px #fff, 531px 396px #fff, 1022px 1908px #fff, 1337px 1555px #fff,
    1557px 1976px #fff, 558px 1627px #fff, 1165px 1872px #fff, 740px 460px #fff, 1058px 1485px #fff, 142px 694px #fff,
    256px 1168px #fff, 392px 1778px #fff, 584px 1029px #fff, 309px 10px #fff, 1394px 1602px #fff, 742px 678px #fff,
    1626px 1412px #fff, 728px 320px #fff, 916px 1196px #fff, 1961px 436px #fff, 234px 644px #fff, 1341px 1048px #fff,
    1494px 1929px #fff, 1683px 230px #fff, 1856px 1574px #fff, 851px 114px #fff, 1740px 1331px #fff, 1539px 1260px #fff,
    1256px 608px #fff, 1490px 93px #fff, 36px 1768px #fff, 153px 1453px #fff, 397px 864px #fff, 1414px 860px #fff,
    1323px 1501px #fff, 376px 251px #fff, 249px 1347px #fff, 1478px 433px #fff, 1915px 625px #fff, 843px 817px #fff,
    662px 1135px #fff, 1864px 464px #fff, 1839px 750px #fff, 484px 1513px #fff, 138px 1400px #fff, 125px 882px #fff,
    945px 1872px #fff, 182px 1055px #fff, 1367px 1977px #fff, 1513px 1464px #fff, 712px 959px #fff, 229px 1514px #fff,
    25px 474px #fff, 1283px 1681px #fff, 481px 1934px #fff, 2px 1828px #fff, 1753px 997px #fff, 485px 725px #fff,
    1298px 207px #fff, 1641px 1564px #fff, 832px 1475px #fff, 738px 480px #fff, 716px 67px #fff, 1484px 225px #fff,
    1230px 1320px #fff, 500px 1763px #fff, 188px 304px #fff, 928px 34px #fff, 926px 776px #fff, 587px 294px #fff,
    40px 1440px #fff, 1309px 209px #fff, 504px 111px #fff, 980px 1024px #fff, 1300px 1506px #fff, 390px 1518px #fff,
    1391px 826px #fff, 1474px 1601px #fff, 206px 1483px #fff, 657px 497px #fff, 1474px 1095px #fff, 41px 1312px #fff,
    531px 1841px #fff, 809px 597px #fff, 974px 140px #fff, 242px 55px #fff, 800px 754px #fff, 562px 597px #fff,
    1201px 1676px #fff, 1550px 444px #fff, 721px 1857px #fff, 694px 821px #fff, 1906px 1037px #fff, 55px 261px #fff,
    871px 1901px #fff, 1837px 1068px #fff, 1706px 653px #fff, 350px 913px #fff, 714px 1003px #fff, 64px 1095px #fff,
    778px 812px #fff, 209px 774px #fff, 652px 1433px #fff, 1205px 828px #fff, 811px 1256px #fff, 373px 1352px #fff,
    1007px 32px #fff, 161px 183px #fff, 118px 1983px #fff, 773px 799px #fff, 1508px 1495px #fff, 1590px 1285px #fff,
    384px 90px #fff, 1298px 1383px #fff, 446px 808px #fff, 1377px 1105px #fff, 1748px 1635px #fff, 1289px 1700px #fff,
    549px 222px #fff, 173px 235px #fff, 1774px 1192px #fff, 141px 869px #fff, 1608px 1433px #fff, 769px 1201px #fff,
    1614px 333px #fff, 102px 1207px #fff, 1909px 1573px #fff, 321px 779px #fff, 1207px 1830px #fff, 852px 1898px #fff,
    73px 1580px #fff, 1862px 1284px #fff, 1459px 868px #fff, 1449px 1823px #fff, 1449px 113px #fff, 852px 1838px #fff,
    973px 803px #fff, 326px 1899px #fff, 1036px 1637px #fff, 1049px 592px #fff, 1194px 697px #fff, 1441px 792px #fff,
    1382px 688px #fff, 540px 240px #fff, 1968px 1513px #fff, 379px 1181px #fff, 103px 841px #fff, 1103px 39px #fff,
    740px 1506px #fff, 646px 1172px #fff, 21px 1605px #fff, 1447px 1982px #fff, 1492px 1252px #fff, 1814px 618px #fff,
    362px 770px #fff, 1904px 134px #fff, 1083px 640px #fff, 1839px 1586px #fff, 1220px 540px #fff, 1144px 699px #fff,
    1942px 547px #fff, 1726px 749px #fff, 1921px 122px #fff, 1933px 42px #fff, 312px 20px #fff, 549px 1757px #fff,
    1455px 203px #fff, 1340px 310px #fff, 1598px 1385px #fff, 1177px 245px #fff, 1568px 1730px #fff, 1069px 1555px #fff,
    1576px 1691px #fff, 1924px 320px #fff, 1533px 1783px #fff, 623px 1979px #fff, 1857px 760px #fff, 1615px 923px #fff,
    1848px 1321px #fff, 1112px 1661px #fff, 978px 1354px #fff, 309px 1616px #fff, 1789px 1003px #fff, 1233px 838px #fff,
    1471px 1541px #fff, 337px 1497px #fff, 19px 1278px #fff, 1777px 79px #fff, 1952px 718px #fff, 1650px 4px #fff,
    1681px 1130px #fff, 970px 1406px #fff, 1686px 1300px #fff, 433px 310px #fff, 433px 479px #fff, 1476px 1220px #fff,
    898px 171px #fff, 725px 812px #fff, 1442px 1041px #fff, 108px 930px #fff, 1991px 1593px #fff, 1206px 47px #fff,
    794px 206px #fff, 584px 418px #fff, 565px 397px #fff, 73px 695px #fff, 331px 1215px #fff, 1545px 139px #fff,
    135px 1199px #fff, 1519px 405px #fff, 262px 1194px #fff, 1623px 1903px #fff, 557px 1964px #fff, 638px 601px #fff,
    1861px 221px #fff, 144px 1203px #fff, 911px 765px #fff, 816px 973px #fff, 203px 1070px #fff, 49px 1264px #fff,
    387px 1299px #fff, 1349px 436px #fff, 1999px 1799px #fff, 1158px 1633px #fff, 509px 429px #fff, 1013px 1934px #fff,
    277px 681px #fff, 424px 745px #fff, 50px 796px #fff, 1696px 1190px #fff, 1084px 239px #fff, 394px 319px #fff,
    1250px 1706px #fff, 382px 403px #fff, 1052px 1721px #fff, 1115px 915px #fff, 339px 117px #fff, 1161px 495px #fff,
    361px 460px #fff, 536px 1493px #fff, 1364px 386px #fff, 1024px 768px #fff, 274px 1352px #fff, 67px 1880px #fff,
    1525px 413px #fff, 263px 346px #fff, 1246px 1175px #fff, 795px 716px #fff, 781px 1067px #fff, 1485px 1136px #fff,
    1209px 1970px #fff, 552px 873px #fff, 332px 686px #fff, 557px 282px #fff, 1686px 733px #fff, 936px 1129px #fff,
    745px 684px #fff, 774px 1270px #fff, 1452px 1997px #fff, 1198px 1085px #fff, 1382px 976px #fff, 722px 1769px #fff,
    752px 1651px #fff, 827px 1885px #fff, 725px 349px #fff, 247px 206px #fff, 980px 1728px #fff, 287px 1281px #fff,
    444px 1019px #fff, 1123px 501px #fff, 956px 878px #fff, 577px 1485px #fff, 1160px 784px #fff, 272px 1951px #fff,
    1179px 111px #fff, 1799px 1019px #fff, 628px 127px #fff, 468px 534px #fff, 1696px 1297px #fff, 681px 1197px #fff,
    1341px 124px #fff, 765px 1727px #fff, 977px 896px #fff, 810px 83px #fff, 1068px 1792px #fff, 1962px 716px #fff,
    756px 1558px #fff, 1798px 247px #fff, 1218px 128px #fff, 406px 335px #fff, 1379px 714px #fff, 1291px 900px #fff,
    234px 1936px #fff, 1439px 340px #fff, 1837px 1374px #fff, 852px 15px #fff, 592px 1272px #fff, 1342px 116px #fff,
    1133px 1378px #fff, 1993px 1239px #fff, 1153px 1891px #fff, 1430px 1874px #fff, 1223px 1089px #fff,
    391px 1448px #fff, 1238px 1641px #fff, 1878px 1251px #fff, 1656px 1168px #fff, 871px 939px #fff, 493px 944px #fff,
    479px 500px #fff, 321px 1219px #fff, 656px 851px #fff, 585px 1036px #fff, 1882px 816px #fff, 1074px 666px #fff,
    919px 947px #fff, 180px 1663px #fff, 183px 1927px #fff, 722px 640px #fff, 688px 227px #fff, 1323px 1213px #fff,
    133px 1626px #fff, 1068px 408px #fff, 1426px 157px #fff, 280px 396px #fff, 1758px 1570px #fff, 1163px 1387px #fff,
    401px 871px #fff, 1327px 1909px #fff, 1182px 499px #fff, 151px 523px #fff, 621px 857px #fff, 1348px 1832px #fff,
    162px 1978px #fff, 1430px 311px #fff, 1164px 175px #fff, 1405px 506px #fff, 1989px 1946px #fff, 881px 1707px #fff,
    291px 1775px #fff, 382px 1814px #fff, 657px 432px #fff, 405px 1549px #fff, 1742px 994px #fff, 1479px 637px #fff,
    1717px 305px #fff, 1009px 1184px #fff, 1476px 322px #fff, 920px 710px #fff, 1641px 1016px #fff, 1348px 1921px #fff,
    762px 1083px #fff, 558px 1613px #fff, 615px 1656px #fff, 1778px 1321px #fff, 1837px 1321px #fff, 563px 812px #fff,
    86px 276px #fff, 349px 970px #fff, 825px 578px #fff, 849px 1370px #fff, 107px 794px #fff, 831px 1158px #fff,
    1378px 447px #fff, 1422px 123px #fff, 1397px 154px #fff, 333px 1401px #fff, 1532px 153px #fff, 1221px 291px #fff,
    290px 1115px #fff, 1111px 1426px #fff, 1166px 51px #fff, 998px 782px #fff, 2000px 547px #fff, 184px 500px #fff,
    1270px 1342px #fff, 1161px 780px #fff, 101px 990px #fff, 363px 303px #fff, 1501px 902px #fff, 435px 314px #fff,
    1894px 1637px #fff, 897px 1427px #fff, 968px 1464px #fff, 174px 748px #fff, 753px 1305px #fff, 1100px 1291px #fff,
    1074px 805px #fff, 794px 80px #fff, 1179px 853px #fff, 1038px 1771px #fff, 232px 68px #fff, 1317px 803px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 155px 592px #fff, 418px 1720px #fff, 1401px 1888px #fff, 844px 1517px #fff, 1711px 1434px #fff,
    1911px 816px #fff, 607px 366px #fff, 1341px 862px #fff, 1025px 622px #fff, 253px 1356px #fff, 1320px 568px #fff,
    1258px 105px #fff, 1831px 1381px #fff, 576px 312px #fff, 35px 477px #fff, 1321px 1265px #fff, 572px 718px #fff,
    317px 454px #fff, 761px 1331px #fff, 1155px 904px #fff, 1933px 479px #fff, 1022px 663px #fff, 1009px 17px #fff,
    1577px 909px #fff, 1839px 1402px #fff, 508px 1296px #fff, 331px 1516px #fff, 1980px 1982px #fff, 598px 988px #fff,
    297px 394px #fff, 500px 42px #fff, 1063px 1429px #fff, 1781px 1268px #fff, 1172px 1048px #fff, 1701px 211px #fff,
    311px 271px #fff, 1913px 608px #fff, 1560px 1472px #fff, 1456px 754px #fff, 1192px 65px #fff, 1186px 1608px #fff,
    640px 1969px #fff, 131px 1727px #fff, 144px 441px #fff, 1850px 190px #fff, 1493px 793px #fff, 240px 1624px #fff,
    169px 337px #fff, 841px 1400px #fff, 1508px 1374px #fff, 955px 855px #fff, 1609px 1854px #fff, 1231px 1043px #fff,
    290px 973px #fff, 1296px 59px #fff, 1735px 603px #fff, 1134px 1710px #fff, 1044px 342px #fff, 1011px 424px #fff,
    846px 1849px #fff, 880px 849px #fff, 316px 379px #fff, 321px 172px #fff, 964px 1876px #fff, 466px 18px #fff,
    1636px 1495px #fff, 1910px 1105px #fff, 1263px 820px #fff, 1292px 1431px #fff, 1798px 1318px #fff, 610px 244px #fff,
    385px 342px #fff, 1079px 1620px #fff, 1798px 1872px #fff, 1717px 1208px #fff, 33px 59px #fff, 352px 1024px #fff,
    1406px 488px #fff, 997px 1975px #fff, 198px 1333px #fff, 1525px 284px #fff, 1350px 1660px #fff, 786px 592px #fff,
    706px 1788px #fff, 599px 327px #fff, 1911px 105px #fff, 1782px 1848px #fff, 454px 2000px #fff, 1281px 1426px #fff,
    1739px 989px #fff, 1963px 504px #fff, 173px 59px #fff, 974px 515px #fff, 588px 1853px #fff, 612px 1225px #fff,
    1642px 1978px #fff, 23px 787px #fff, 442px 1105px #fff, 1335px 696px #fff, 1364px 47px #fff, 1421px 449px #fff,
    1517px 1915px #fff, 1026px 300px #fff, 583px 390px #fff, 1532px 1696px #fff, 1706px 1983px #fff, 1772px 76px #fff,
    1836px 1754px #fff, 95px 1320px #fff, 1231px 1903px #fff, 1149px 1524px #fff, 924px 489px #fff, 1479px 1458px #fff,
    1496px 1758px #fff, 1605px 1830px #fff, 35px 870px #fff, 1602px 814px #fff, 237px 1868px #fff, 1770px 536px #fff,
    155px 1723px #fff, 150px 661px #fff, 512px 1014px #fff, 1053px 1864px #fff, 403px 1758px #fff, 1671px 1362px #fff,
    1245px 422px #fff, 1257px 581px #fff, 739px 84px #fff, 345px 128px #fff, 842px 1505px #fff, 1118px 721px #fff,
    789px 1207px #fff, 1727px 25px #fff, 331px 1549px #fff, 1313px 1468px #fff, 977px 317px #fff, 1067px 790px #fff,
    1883px 870px #fff, 58px 1971px #fff, 759px 1117px #fff, 97px 1202px #fff, 1262px 1414px #fff, 1069px 1772px #fff,
    1429px 1290px #fff, 1764px 1433px #fff, 1338px 722px #fff, 615px 1816px #fff, 1725px 213px #fff, 1298px 805px #fff,
    1137px 18px #fff, 1717px 287px #fff, 1676px 1300px #fff, 389px 307px #fff, 897px 1788px #fff, 1467px 1313px #fff,
    1175px 1495px #fff, 289px 1787px #fff, 538px 1974px #fff, 534px 20px #fff, 893px 375px #fff, 746px 847px #fff,
    175px 1191px #fff, 519px 1074px #fff, 1180px 1964px #fff, 118px 1666px #fff, 1614px 979px #fff, 741px 9px #fff,
    1586px 1106px #fff, 655px 1230px #fff, 978px 260px #fff, 1933px 1528px #fff, 1102px 1015px #fff, 1872px 1497px #fff,
    1554px 1342px #fff, 1449px 463px #fff, 978px 183px #fff, 1503px 1759px #fff, 1423px 1268px #fff, 1100px 1193px #fff,
    1664px 1657px #fff, 446px 1361px #fff, 155px 1986px #fff, 1098px 1366px #fff, 760px 89px #fff, 1569px 583px #fff,
    1904px 272px #fff, 56px 1281px #fff, 1371px 1029px #fff, 658px 541px #fff, 1585px 503px #fff, 969px 1730px #fff,
    431px 1106px #fff, 448px 676px #fff, 1113px 960px #fff, 1981px 986px #fff, 130px 1338px #fff, 1429px 590px #fff,
    1868px 1670px #fff, 1783px 1437px #fff, 1092px 75px #fff, 1430px 250px #fff, 1516px 195px #fff, 142px 1190px #fff,
    272px 1073px #fff, 985px 90px #fff, 757px 694px #fff, 931px 1871px #fff, 633px 1739px #fff, 619px 69px #fff,
    1125px 674px #fff, 1806px 965px #fff, 64px 1483px #fff, 765px 989px #fff, 71px 1768px #fff, 1031px 1944px #fff,
    1188px 452px #fff, 894px 214px #fff, 836px 344px #fff, 726px 445px #fff, 1728px 114px #fff, 468px 865px #fff,
    1544px 715px #fff, 1025px 1992px #fff, 232px 1254px #fff, 171px 1650px #fff, 1940px 1540px #fff, 1251px 745px #fff,
    1810px 164px #fff, 963px 1465px #fff, 1368px 1110px #fff, 1066px 1935px #fff, 594px 383px #fff, 592px 1202px #fff,
    1858px 989px #fff, 1463px 922px #fff, 22px 1279px #fff, 1193px 737px #fff, 1017px 1349px #fff, 152px 1040px #fff,
    163px 1734px #fff, 1975px 637px #fff, 1777px 192px #fff, 480px 1228px #fff, 704px 1362px #fff, 1781px 335px #fff,
    720px 1773px #fff, 1575px 1280px #fff, 314px 89px #fff, 524px 1002px #fff, 1496px 961px #fff, 1612px 332px #fff,
    1048px 1188px #fff, 688px 1342px #fff, 1131px 657px #fff, 1484px 111px #fff, 186px 1291px #fff, 52px 1989px #fff,
    358px 324px #fff, 485px 875px #fff, 338px 956px #fff, 478px 1628px #fff, 146px 300px #fff, 1094px 778px #fff,
    1409px 1263px #fff, 483px 1479px #fff, 1964px 252px #fff, 57px 1055px #fff, 1175px 1589px #fff, 1571px 1144px #fff,
    211px 417px #fff, 90px 1146px #fff, 1757px 159px #fff, 11px 802px #fff, 1709px 213px #fff, 1389px 231px #fff,
    537px 1671px #fff, 170px 1509px #fff, 1931px 812px #fff, 1402px 1644px #fff, 1844px 1785px #fff, 457px 1522px #fff,
    1145px 487px #fff, 470px 789px #fff, 1789px 381px #fff, 427px 1845px #fff, 1670px 1019px #fff, 1431px 807px #fff,
    611px 681px #fff, 1287px 686px #fff, 256px 82px #fff, 1379px 432px #fff, 629px 1403px #fff, 1090px 1515px #fff,
    1829px 1778px #fff, 567px 169px #fff, 1667px 1225px #fff, 1667px 1608px #fff, 1328px 1458px #fff, 851px 303px #fff,
    813px 1367px #fff, 395px 357px #fff, 1240px 348px #fff, 536px 1007px #fff, 1025px 1001px #fff, 1289px 753px #fff,
    182px 207px #fff, 1073px 552px #fff, 1189px 1483px #fff, 531px 396px #fff, 1022px 1908px #fff, 1337px 1555px #fff,
    1557px 1976px #fff, 558px 1627px #fff, 1165px 1872px #fff, 740px 460px #fff, 1058px 1485px #fff, 142px 694px #fff,
    256px 1168px #fff, 392px 1778px #fff, 584px 1029px #fff, 309px 10px #fff, 1394px 1602px #fff, 742px 678px #fff,
    1626px 1412px #fff, 728px 320px #fff, 916px 1196px #fff, 1961px 436px #fff, 234px 644px #fff, 1341px 1048px #fff,
    1494px 1929px #fff, 1683px 230px #fff, 1856px 1574px #fff, 851px 114px #fff, 1740px 1331px #fff, 1539px 1260px #fff,
    1256px 608px #fff, 1490px 93px #fff, 36px 1768px #fff, 153px 1453px #fff, 397px 864px #fff, 1414px 860px #fff,
    1323px 1501px #fff, 376px 251px #fff, 249px 1347px #fff, 1478px 433px #fff, 1915px 625px #fff, 843px 817px #fff,
    662px 1135px #fff, 1864px 464px #fff, 1839px 750px #fff, 484px 1513px #fff, 138px 1400px #fff, 125px 882px #fff,
    945px 1872px #fff, 182px 1055px #fff, 1367px 1977px #fff, 1513px 1464px #fff, 712px 959px #fff, 229px 1514px #fff,
    25px 474px #fff, 1283px 1681px #fff, 481px 1934px #fff, 2px 1828px #fff, 1753px 997px #fff, 485px 725px #fff,
    1298px 207px #fff, 1641px 1564px #fff, 832px 1475px #fff, 738px 480px #fff, 716px 67px #fff, 1484px 225px #fff,
    1230px 1320px #fff, 500px 1763px #fff, 188px 304px #fff, 928px 34px #fff, 926px 776px #fff, 587px 294px #fff,
    40px 1440px #fff, 1309px 209px #fff, 504px 111px #fff, 980px 1024px #fff, 1300px 1506px #fff, 390px 1518px #fff,
    1391px 826px #fff, 1474px 1601px #fff, 206px 1483px #fff, 657px 497px #fff, 1474px 1095px #fff, 41px 1312px #fff,
    531px 1841px #fff, 809px 597px #fff, 974px 140px #fff, 242px 55px #fff, 800px 754px #fff, 562px 597px #fff,
    1201px 1676px #fff, 1550px 444px #fff, 721px 1857px #fff, 694px 821px #fff, 1906px 1037px #fff, 55px 261px #fff,
    871px 1901px #fff, 1837px 1068px #fff, 1706px 653px #fff, 350px 913px #fff, 714px 1003px #fff, 64px 1095px #fff,
    778px 812px #fff, 209px 774px #fff, 652px 1433px #fff, 1205px 828px #fff, 811px 1256px #fff, 373px 1352px #fff,
    1007px 32px #fff, 161px 183px #fff, 118px 1983px #fff, 773px 799px #fff, 1508px 1495px #fff, 1590px 1285px #fff,
    384px 90px #fff, 1298px 1383px #fff, 446px 808px #fff, 1377px 1105px #fff, 1748px 1635px #fff, 1289px 1700px #fff,
    549px 222px #fff, 173px 235px #fff, 1774px 1192px #fff, 141px 869px #fff, 1608px 1433px #fff, 769px 1201px #fff,
    1614px 333px #fff, 102px 1207px #fff, 1909px 1573px #fff, 321px 779px #fff, 1207px 1830px #fff, 852px 1898px #fff,
    73px 1580px #fff, 1862px 1284px #fff, 1459px 868px #fff, 1449px 1823px #fff, 1449px 113px #fff, 852px 1838px #fff,
    973px 803px #fff, 326px 1899px #fff, 1036px 1637px #fff, 1049px 592px #fff, 1194px 697px #fff, 1441px 792px #fff,
    1382px 688px #fff, 540px 240px #fff, 1968px 1513px #fff, 379px 1181px #fff, 103px 841px #fff, 1103px 39px #fff,
    740px 1506px #fff, 646px 1172px #fff, 21px 1605px #fff, 1447px 1982px #fff, 1492px 1252px #fff, 1814px 618px #fff,
    362px 770px #fff, 1904px 134px #fff, 1083px 640px #fff, 1839px 1586px #fff, 1220px 540px #fff, 1144px 699px #fff,
    1942px 547px #fff, 1726px 749px #fff, 1921px 122px #fff, 1933px 42px #fff, 312px 20px #fff, 549px 1757px #fff,
    1455px 203px #fff, 1340px 310px #fff, 1598px 1385px #fff, 1177px 245px #fff, 1568px 1730px #fff, 1069px 1555px #fff,
    1576px 1691px #fff, 1924px 320px #fff, 1533px 1783px #fff, 623px 1979px #fff, 1857px 760px #fff, 1615px 923px #fff,
    1848px 1321px #fff, 1112px 1661px #fff, 978px 1354px #fff, 309px 1616px #fff, 1789px 1003px #fff, 1233px 838px #fff,
    1471px 1541px #fff, 337px 1497px #fff, 19px 1278px #fff, 1777px 79px #fff, 1952px 718px #fff, 1650px 4px #fff,
    1681px 1130px #fff, 970px 1406px #fff, 1686px 1300px #fff, 433px 310px #fff, 433px 479px #fff, 1476px 1220px #fff,
    898px 171px #fff, 725px 812px #fff, 1442px 1041px #fff, 108px 930px #fff, 1991px 1593px #fff, 1206px 47px #fff,
    794px 206px #fff, 584px 418px #fff, 565px 397px #fff, 73px 695px #fff, 331px 1215px #fff, 1545px 139px #fff,
    135px 1199px #fff, 1519px 405px #fff, 262px 1194px #fff, 1623px 1903px #fff, 557px 1964px #fff, 638px 601px #fff,
    1861px 221px #fff, 144px 1203px #fff, 911px 765px #fff, 816px 973px #fff, 203px 1070px #fff, 49px 1264px #fff,
    387px 1299px #fff, 1349px 436px #fff, 1999px 1799px #fff, 1158px 1633px #fff, 509px 429px #fff, 1013px 1934px #fff,
    277px 681px #fff, 424px 745px #fff, 50px 796px #fff, 1696px 1190px #fff, 1084px 239px #fff, 394px 319px #fff,
    1250px 1706px #fff, 382px 403px #fff, 1052px 1721px #fff, 1115px 915px #fff, 339px 117px #fff, 1161px 495px #fff,
    361px 460px #fff, 536px 1493px #fff, 1364px 386px #fff, 1024px 768px #fff, 274px 1352px #fff, 67px 1880px #fff,
    1525px 413px #fff, 263px 346px #fff, 1246px 1175px #fff, 795px 716px #fff, 781px 1067px #fff, 1485px 1136px #fff,
    1209px 1970px #fff, 552px 873px #fff, 332px 686px #fff, 557px 282px #fff, 1686px 733px #fff, 936px 1129px #fff,
    745px 684px #fff, 774px 1270px #fff, 1452px 1997px #fff, 1198px 1085px #fff, 1382px 976px #fff, 722px 1769px #fff,
    752px 1651px #fff, 827px 1885px #fff, 725px 349px #fff, 247px 206px #fff, 980px 1728px #fff, 287px 1281px #fff,
    444px 1019px #fff, 1123px 501px #fff, 956px 878px #fff, 577px 1485px #fff, 1160px 784px #fff, 272px 1951px #fff,
    1179px 111px #fff, 1799px 1019px #fff, 628px 127px #fff, 468px 534px #fff, 1696px 1297px #fff, 681px 1197px #fff,
    1341px 124px #fff, 765px 1727px #fff, 977px 896px #fff, 810px 83px #fff, 1068px 1792px #fff, 1962px 716px #fff,
    756px 1558px #fff, 1798px 247px #fff, 1218px 128px #fff, 406px 335px #fff, 1379px 714px #fff, 1291px 900px #fff,
    234px 1936px #fff, 1439px 340px #fff, 1837px 1374px #fff, 852px 15px #fff, 592px 1272px #fff, 1342px 116px #fff,
    1133px 1378px #fff, 1993px 1239px #fff, 1153px 1891px #fff, 1430px 1874px #fff, 1223px 1089px #fff,
    391px 1448px #fff, 1238px 1641px #fff, 1878px 1251px #fff, 1656px 1168px #fff, 871px 939px #fff, 493px 944px #fff,
    479px 500px #fff, 321px 1219px #fff, 656px 851px #fff, 585px 1036px #fff, 1882px 816px #fff, 1074px 666px #fff,
    919px 947px #fff, 180px 1663px #fff, 183px 1927px #fff, 722px 640px #fff, 688px 227px #fff, 1323px 1213px #fff,
    133px 1626px #fff, 1068px 408px #fff, 1426px 157px #fff, 280px 396px #fff, 1758px 1570px #fff, 1163px 1387px #fff,
    401px 871px #fff, 1327px 1909px #fff, 1182px 499px #fff, 151px 523px #fff, 621px 857px #fff, 1348px 1832px #fff,
    162px 1978px #fff, 1430px 311px #fff, 1164px 175px #fff, 1405px 506px #fff, 1989px 1946px #fff, 881px 1707px #fff,
    291px 1775px #fff, 382px 1814px #fff, 657px 432px #fff, 405px 1549px #fff, 1742px 994px #fff, 1479px 637px #fff,
    1717px 305px #fff, 1009px 1184px #fff, 1476px 322px #fff, 920px 710px #fff, 1641px 1016px #fff, 1348px 1921px #fff,
    762px 1083px #fff, 558px 1613px #fff, 615px 1656px #fff, 1778px 1321px #fff, 1837px 1321px #fff, 563px 812px #fff,
    86px 276px #fff, 349px 970px #fff, 825px 578px #fff, 849px 1370px #fff, 107px 794px #fff, 831px 1158px #fff,
    1378px 447px #fff, 1422px 123px #fff, 1397px 154px #fff, 333px 1401px #fff, 1532px 153px #fff, 1221px 291px #fff,
    290px 1115px #fff, 1111px 1426px #fff, 1166px 51px #fff, 998px 782px #fff, 2000px 547px #fff, 184px 500px #fff,
    1270px 1342px #fff, 1161px 780px #fff, 101px 990px #fff, 363px 303px #fff, 1501px 902px #fff, 435px 314px #fff,
    1894px 1637px #fff, 897px 1427px #fff, 968px 1464px #fff, 174px 748px #fff, 753px 1305px #fff, 1100px 1291px #fff,
    1074px 805px #fff, 794px 80px #fff, 1179px 853px #fff, 1038px 1771px #fff, 232px 68px #fff, 1317px 803px #fff;
}

#stars2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1780px 1980px #fff, 96px 949px #fff, 571px 1377px #fff, 638px 1975px #fff, 298px 768px #fff,
    1700px 1635px #fff, 1590px 1882px #fff, 858px 886px #fff, 306px 1869px #fff, 650px 759px #fff, 312px 1793px #fff,
    1734px 1831px #fff, 1789px 543px #fff, 1202px 1071px #fff, 680px 136px #fff, 571px 739px #fff, 1558px 133px #fff,
    1367px 1139px #fff, 382px 1482px #fff, 1081px 1336px #fff, 1949px 1579px #fff, 703px 1024px #fff, 769px 168px #fff,
    509px 1981px #fff, 1736px 310px #fff, 493px 228px #fff, 1678px 1313px #fff, 682px 316px #fff, 377px 1743px #fff,
    1575px 380px #fff, 289px 458px #fff, 161px 780px #fff, 864px 405px #fff, 841px 1656px #fff, 1371px 1717px #fff,
    868px 1386px #fff, 134px 1772px #fff, 359px 1511px #fff, 500px 1640px #fff, 911px 1px #fff, 233px 128px #fff,
    1769px 447px #fff, 1895px 962px #fff, 606px 112px #fff, 1178px 1578px #fff, 518px 1998px #fff, 1804px 1236px #fff,
    676px 1708px #fff, 1066px 1709px #fff, 435px 1075px #fff, 1906px 567px #fff, 222px 416px #fff, 363px 1708px #fff,
    1975px 1577px #fff, 1910px 446px #fff, 1791px 335px #fff, 1147px 1280px #fff, 1601px 1607px #fff, 1554px 685px #fff,
    1608px 1139px #fff, 371px 679px #fff, 1329px 108px #fff, 1483px 1569px #fff, 243px 112px #fff, 1786px 51px #fff,
    1083px 539px #fff, 916px 1129px #fff, 1508px 334px #fff, 13px 1520px #fff, 1276px 1877px #fff, 852px 46px #fff,
    1231px 1575px #fff, 487px 1646px #fff, 764px 1821px #fff, 723px 39px #fff, 483px 904px #fff, 1498px 1010px #fff,
    214px 1092px #fff, 1452px 1858px #fff, 706px 737px #fff, 81px 1141px #fff, 86px 1358px #fff, 1805px 1628px #fff,
    1837px 527px #fff, 1606px 31px #fff, 385px 459px #fff, 97px 1124px #fff, 886px 95px #fff, 168px 1316px #fff,
    260px 1135px #fff, 1450px 762px #fff, 1849px 1334px #fff, 1146px 974px #fff, 1388px 844px #fff, 1437px 65px #fff,
    1199px 1588px #fff, 28px 140px #fff, 1170px 1100px #fff, 341px 1135px #fff, 1264px 1149px #fff, 849px 1254px #fff,
    1576px 494px #fff, 834px 46px #fff, 202px 1563px #fff, 1863px 863px #fff, 208px 1462px #fff, 1939px 808px #fff,
    768px 775px #fff, 1989px 383px #fff, 1832px 153px #fff, 890px 1891px #fff, 1165px 706px #fff, 1095px 1982px #fff,
    1075px 1863px #fff, 801px 1167px #fff, 904px 693px #fff, 540px 391px #fff, 254px 611px #fff, 74px 1908px #fff,
    391px 1839px #fff, 1429px 899px #fff, 695px 752px #fff, 82px 838px #fff, 1313px 500px #fff, 655px 908px #fff,
    158px 197px #fff, 1777px 981px #fff, 1851px 849px #fff, 1136px 1172px #fff, 717px 1724px #fff, 1228px 580px #fff,
    155px 1810px #fff, 345px 1197px #fff, 1634px 1714px #fff, 1223px 74px #fff, 323px 1862px #fff, 1924px 359px #fff,
    45px 863px #fff, 1571px 762px #fff, 1251px 689px #fff, 277px 524px #fff, 1533px 1295px #fff, 1265px 1654px #fff,
    59px 101px #fff, 914px 258px #fff, 357px 1959px #fff, 44px 523px #fff, 991px 134px #fff, 1440px 1797px #fff,
    1217px 1478px #fff, 1432px 726px #fff, 1121px 698px #fff, 940px 1546px #fff, 938px 853px #fff, 352px 341px #fff,
    1411px 1995px #fff, 1384px 976px #fff, 900px 745px #fff, 721px 1614px #fff, 1441px 1190px #fff, 1408px 690px #fff,
    908px 1164px #fff, 696px 1528px #fff, 1377px 663px #fff, 1245px 1778px #fff, 69px 1774px #fff, 962px 68px #fff,
    316px 19px #fff, 1818px 1413px #fff, 446px 1442px #fff, 1199px 1218px #fff, 1387px 1953px #fff, 672px 716px #fff,
    302px 1295px #fff, 1725px 1123px #fff, 1953px 1550px #fff, 1843px 1271px #fff, 664px 1449px #fff, 65px 1126px #fff,
    1015px 1909px #fff, 1036px 1065px #fff, 3px 1689px #fff, 722px 356px #fff, 89px 302px #fff, 677px 1506px #fff,
    753px 1066px #fff, 6px 238px #fff, 231px 1521px #fff, 162px 1668px #fff, 118px 1768px #fff, 994px 1273px #fff,
    272px 1381px #fff, 342px 1853px #fff, 260px 816px #fff, 1356px 480px #fff, 177px 40px #fff, 1644px 690px #fff,
    634px 1889px #fff, 673px 139px #fff, 1571px 1425px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1780px 1980px #fff, 96px 949px #fff, 571px 1377px #fff, 638px 1975px #fff, 298px 768px #fff,
    1700px 1635px #fff, 1590px 1882px #fff, 858px 886px #fff, 306px 1869px #fff, 650px 759px #fff, 312px 1793px #fff,
    1734px 1831px #fff, 1789px 543px #fff, 1202px 1071px #fff, 680px 136px #fff, 571px 739px #fff, 1558px 133px #fff,
    1367px 1139px #fff, 382px 1482px #fff, 1081px 1336px #fff, 1949px 1579px #fff, 703px 1024px #fff, 769px 168px #fff,
    509px 1981px #fff, 1736px 310px #fff, 493px 228px #fff, 1678px 1313px #fff, 682px 316px #fff, 377px 1743px #fff,
    1575px 380px #fff, 289px 458px #fff, 161px 780px #fff, 864px 405px #fff, 841px 1656px #fff, 1371px 1717px #fff,
    868px 1386px #fff, 134px 1772px #fff, 359px 1511px #fff, 500px 1640px #fff, 911px 1px #fff, 233px 128px #fff,
    1769px 447px #fff, 1895px 962px #fff, 606px 112px #fff, 1178px 1578px #fff, 518px 1998px #fff, 1804px 1236px #fff,
    676px 1708px #fff, 1066px 1709px #fff, 435px 1075px #fff, 1906px 567px #fff, 222px 416px #fff, 363px 1708px #fff,
    1975px 1577px #fff, 1910px 446px #fff, 1791px 335px #fff, 1147px 1280px #fff, 1601px 1607px #fff, 1554px 685px #fff,
    1608px 1139px #fff, 371px 679px #fff, 1329px 108px #fff, 1483px 1569px #fff, 243px 112px #fff, 1786px 51px #fff,
    1083px 539px #fff, 916px 1129px #fff, 1508px 334px #fff, 13px 1520px #fff, 1276px 1877px #fff, 852px 46px #fff,
    1231px 1575px #fff, 487px 1646px #fff, 764px 1821px #fff, 723px 39px #fff, 483px 904px #fff, 1498px 1010px #fff,
    214px 1092px #fff, 1452px 1858px #fff, 706px 737px #fff, 81px 1141px #fff, 86px 1358px #fff, 1805px 1628px #fff,
    1837px 527px #fff, 1606px 31px #fff, 385px 459px #fff, 97px 1124px #fff, 886px 95px #fff, 168px 1316px #fff,
    260px 1135px #fff, 1450px 762px #fff, 1849px 1334px #fff, 1146px 974px #fff, 1388px 844px #fff, 1437px 65px #fff,
    1199px 1588px #fff, 28px 140px #fff, 1170px 1100px #fff, 341px 1135px #fff, 1264px 1149px #fff, 849px 1254px #fff,
    1576px 494px #fff, 834px 46px #fff, 202px 1563px #fff, 1863px 863px #fff, 208px 1462px #fff, 1939px 808px #fff,
    768px 775px #fff, 1989px 383px #fff, 1832px 153px #fff, 890px 1891px #fff, 1165px 706px #fff, 1095px 1982px #fff,
    1075px 1863px #fff, 801px 1167px #fff, 904px 693px #fff, 540px 391px #fff, 254px 611px #fff, 74px 1908px #fff,
    391px 1839px #fff, 1429px 899px #fff, 695px 752px #fff, 82px 838px #fff, 1313px 500px #fff, 655px 908px #fff,
    158px 197px #fff, 1777px 981px #fff, 1851px 849px #fff, 1136px 1172px #fff, 717px 1724px #fff, 1228px 580px #fff,
    155px 1810px #fff, 345px 1197px #fff, 1634px 1714px #fff, 1223px 74px #fff, 323px 1862px #fff, 1924px 359px #fff,
    45px 863px #fff, 1571px 762px #fff, 1251px 689px #fff, 277px 524px #fff, 1533px 1295px #fff, 1265px 1654px #fff,
    59px 101px #fff, 914px 258px #fff, 357px 1959px #fff, 44px 523px #fff, 991px 134px #fff, 1440px 1797px #fff,
    1217px 1478px #fff, 1432px 726px #fff, 1121px 698px #fff, 940px 1546px #fff, 938px 853px #fff, 352px 341px #fff,
    1411px 1995px #fff, 1384px 976px #fff, 900px 745px #fff, 721px 1614px #fff, 1441px 1190px #fff, 1408px 690px #fff,
    908px 1164px #fff, 696px 1528px #fff, 1377px 663px #fff, 1245px 1778px #fff, 69px 1774px #fff, 962px 68px #fff,
    316px 19px #fff, 1818px 1413px #fff, 446px 1442px #fff, 1199px 1218px #fff, 1387px 1953px #fff, 672px 716px #fff,
    302px 1295px #fff, 1725px 1123px #fff, 1953px 1550px #fff, 1843px 1271px #fff, 664px 1449px #fff, 65px 1126px #fff,
    1015px 1909px #fff, 1036px 1065px #fff, 3px 1689px #fff, 722px 356px #fff, 89px 302px #fff, 677px 1506px #fff,
    753px 1066px #fff, 6px 238px #fff, 231px 1521px #fff, 162px 1668px #fff, 118px 1768px #fff, 994px 1273px #fff,
    272px 1381px #fff, 342px 1853px #fff, 260px 816px #fff, 1356px 480px #fff, 177px 40px #fff, 1644px 690px #fff,
    634px 1889px #fff, 673px 139px #fff, 1571px 1425px #fff;
}

#stars3 {
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 899px 604px #fff, 936px 524px #fff, 1098px 406px #fff, 1002px 291px #fff, 147px 1435px #fff,
    938px 1421px #fff, 1414px 687px #fff, 579px 1861px #fff, 146px 694px #fff, 332px 105px #fff, 1415px 1188px #fff,
    109px 1491px #fff, 1788px 1812px #fff, 1778px 151px #fff, 1804px 763px #fff, 192px 1389px #fff, 1684px 1987px #fff,
    716px 1561px #fff, 480px 1011px #fff, 1152px 413px #fff, 927px 1222px #fff, 836px 13px #fff, 91px 135px #fff,
    1705px 1358px #fff, 1384px 310px #fff, 1311px 644px #fff, 1950px 924px #fff, 786px 140px #fff, 326px 1510px #fff,
    1134px 975px #fff, 1638px 643px #fff, 868px 1729px #fff, 1215px 1192px #fff, 863px 799px #fff, 1320px 1397px #fff,
    825px 1262px #fff, 828px 912px #fff, 510px 1630px #fff, 1788px 162px #fff, 391px 1418px #fff, 1243px 1658px #fff,
    175px 1531px #fff, 670px 1737px #fff, 243px 274px #fff, 1408px 1484px #fff, 1862px 1839px #fff, 1991px 744px #fff,
    1063px 104px #fff, 54px 1514px #fff, 526px 1594px #fff, 956px 715px #fff, 1947px 400px #fff, 44px 1576px #fff,
    232px 1847px #fff, 1649px 1006px #fff, 8px 322px #fff, 1551px 916px #fff, 1749px 1740px #fff, 1881px 1169px #fff,
    1248px 476px #fff, 628px 1341px #fff, 1702px 1079px #fff, 490px 1493px #fff, 936px 7px #fff, 1949px 121px #fff,
    1776px 360px #fff, 1043px 1809px #fff, 411px 969px #fff, 597px 801px #fff, 1626px 1362px #fff, 1986px 1067px #fff,
    1837px 510px #fff, 304px 209px #fff, 1317px 845px #fff, 1772px 1322px #fff, 1333px 1041px #fff, 157px 1894px #fff,
    1862px 1333px #fff, 1790px 1157px #fff, 308px 1284px #fff, 1334px 1805px #fff, 585px 738px #fff, 1613px 395px #fff,
    1217px 107px #fff, 903px 862px #fff, 289px 774px #fff, 1425px 1033px #fff, 1683px 1182px #fff, 1224px 308px #fff,
    943px 1456px #fff, 82px 99px #fff, 784px 270px #fff, 809px 1463px #fff, 1953px 377px #fff, 1507px 882px #fff,
    1885px 1435px #fff, 1817px 637px #fff, 1116px 1053px #fff, 544px 527px #fff, 1948px 140px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 899px 604px #fff, 936px 524px #fff, 1098px 406px #fff, 1002px 291px #fff, 147px 1435px #fff,
    938px 1421px #fff, 1414px 687px #fff, 579px 1861px #fff, 146px 694px #fff, 332px 105px #fff, 1415px 1188px #fff,
    109px 1491px #fff, 1788px 1812px #fff, 1778px 151px #fff, 1804px 763px #fff, 192px 1389px #fff, 1684px 1987px #fff,
    716px 1561px #fff, 480px 1011px #fff, 1152px 413px #fff, 927px 1222px #fff, 836px 13px #fff, 91px 135px #fff,
    1705px 1358px #fff, 1384px 310px #fff, 1311px 644px #fff, 1950px 924px #fff, 786px 140px #fff, 326px 1510px #fff,
    1134px 975px #fff, 1638px 643px #fff, 868px 1729px #fff, 1215px 1192px #fff, 863px 799px #fff, 1320px 1397px #fff,
    825px 1262px #fff, 828px 912px #fff, 510px 1630px #fff, 1788px 162px #fff, 391px 1418px #fff, 1243px 1658px #fff,
    175px 1531px #fff, 670px 1737px #fff, 243px 274px #fff, 1408px 1484px #fff, 1862px 1839px #fff, 1991px 744px #fff,
    1063px 104px #fff, 54px 1514px #fff, 526px 1594px #fff, 956px 715px #fff, 1947px 400px #fff, 44px 1576px #fff,
    232px 1847px #fff, 1649px 1006px #fff, 8px 322px #fff, 1551px 916px #fff, 1749px 1740px #fff, 1881px 1169px #fff,
    1248px 476px #fff, 628px 1341px #fff, 1702px 1079px #fff, 490px 1493px #fff, 936px 7px #fff, 1949px 121px #fff,
    1776px 360px #fff, 1043px 1809px #fff, 411px 969px #fff, 597px 801px #fff, 1626px 1362px #fff, 1986px 1067px #fff,
    1837px 510px #fff, 304px 209px #fff, 1317px 845px #fff, 1772px 1322px #fff, 1333px 1041px #fff, 157px 1894px #fff,
    1862px 1333px #fff, 1790px 1157px #fff, 308px 1284px #fff, 1334px 1805px #fff, 585px 738px #fff, 1613px 395px #fff,
    1217px 107px #fff, 903px 862px #fff, 289px 774px #fff, 1425px 1033px #fff, 1683px 1182px #fff, 1224px 308px #fff,
    943px 1456px #fff, 82px 99px #fff, 784px 270px #fff, 809px 1463px #fff, 1953px 377px #fff, 1507px 882px #fff,
    1885px 1435px #fff, 1817px 637px #fff, 1116px 1053px #fff, 544px 527px #fff, 1948px 140px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
